*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    scroll-behavior: smooth;

}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(to top, #c72092 , #6c14d0);
}
.mainnav {
    background-color: rgb(245, 243, 240);
    border: 2px gainsboro solid;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    position: fixed !important;
    width: 100% !important;
    z-index: 1000000;
}
.brand h1{
    color:  #c72092!important;
    font-size: 48px;
    font-weight: bold;
}
.brand span{
    color: #6c14d0;
    text-decoration: underline;
    font-weight: bold;
}
.nav-item a {
    font-size: 18px;
    font-weight: 600;
}
.navbar ul li a {
    font-size: 20px !important;
    color: black;
    margin-right: 20px;
}
.navbar ul li a:hover{
    color:  #c72092!important;
}
#home {

    background-image: url("./image/bg1.png");
    background-position: center ;
    background-size:cover ;
    background-repeat: no-repeat;
}
.imageMain{
    width: 90% !important;
}
.imageMain:hover{
    scale: 1.1;
    transition-duration: 1s;
}
.content{
    margin-top: 50% !important;
    
}
.content h1 {
    font-size: 60px;
    margin-bottom: 10%;
    color:  #c72092!important;
    font-weight: 900;
}
.content h1 span{
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
}
.homeContainer{
    padding-top: 8rem !important;
}
.content p{
    color: grey;
    font-weight: bold;
}
.content a {
    padding: 5px 40px ;
    background: linear-gradient(to right,#af438d , #6b3e9e) !important;
    color: white;
    font-weight: 700;
    margin-top: 5rem;
}
.content a:hover{
    color: #c72092;
    background: white !important;
    border: 3px solid #c72092;
}
.aboutImagecontainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.title {
    color:  #c72092;
    text-align: center;
    margin-top: 5rem;
    padding-bottom: 3rem;
    font-size: 70px;
}
.aboutImages{
    padding: 20px;
    background: linear-gradient(to right,#af438d , #6b3e9e) ;
    width: 60%;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 3px 8px #af438d;
}
.aboutImages:hover{
    background: linear-gradient(to right,#c72092 , #6c14d0);
}
#mainImage{
    width: 100%;
    padding: 3rem;
    display: flex;
    margin: auto;
    border: #c72092 3px solid;
    border-radius: 20px;
    
}
.aboutParagraph{
    color: #6c14d0;
    font-size: 16px;
    padding: 20px 10px 4.3rem 20px;
    border: #c72092 4px solid;
    border-radius: 20px;
    box-shadow: 2px 3px 8px #c72092;
}
.buttonShop{
    padding: 10px 20px;
    border: 2px solid #c72092 !important;
    width: 30% !important;
    margin: 2rem auto auto auto !important;
    box-shadow: 2px 3px 8px #c72092;
    font-weight: bold !important;
}
.buttonShop:hover{
    background: linear-gradient(to right,#c72092 , #6c14d0);
    color: white !important;
    transition-duration: 1s;
}
.productsButton{
    padding: 10px 20px;
    border: 2px solid #c72092 !important;
    margin:auto !important;
    box-shadow: 2px 3px 8px #c72092;
    font-weight: bold !important;
}
.productsButton:hover{
    background: linear-gradient(to right,#c72092 , #6c14d0);
    color: white !important;
    transition-duration: 1s;
}
.productsCard{
    border: #c72092#6c14d0 3px solid !important;
    box-shadow: 4px 3px 12px #d447a7 !important;
    margin-top: 4rem !important;
    
}
.productsCard:hover{
    scale: 1.01;
    transition-duration: 1s;
}
.productsCard:hover img{
    scale: 0.8 !important;
}
.productsCard:hover .favShare a i{
    display: inline;
    
}
.productsCard:hover .favShare a{
    transition: ease;
    transition-duration: 3s;
}
.favShare{
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 0 0 ;
    height: auto;
    gap: 20px;
}
.favShare a i:hover{
    color: #c72092 !important;
    border: #c72092 3px solid !important;
}
.favShare a i{
    display: none;
    color: #000000 !important;
    padding: 5px;
    border: #000000 2px solid;
    border-radius: 3px;
    font-size: 26px;
    
}
.FavouriteItem {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.FavouriteItem img{
    width: 20%;
}
.FavouriteItem h1{
    font-size: 16px;
    color: #c72092;
    padding-left: 30px;
}
.favShare a{
    text-decoration: none;
}
.imageIconscontainer{
    display: flex;
    flex-direction: column;
}
.reviewCard{
    background-color: rgb(230, 225, 225) !important;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 8px grey;
}
.reviewCard:hover{
    scale: 1.02;
    transition-duration: 1s;
}
.reviewImage{
    width: 5rem !important;
    height: 5rem !important;
}
.contactus{
    background-image: url("./image/loging_bg.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
    margin-top: 3rem;
}
.form input {
    border: #c72092 3px solid;
    
}
.form h6:hover{
    color: #c72092;
    cursor: pointer;
}
.contactUsbutton{
    background: linear-gradient(to right,#c72092 , #6c14d0);
    color: white !important;
    font-size: 20px !important;
    font-weight: bold !important;
    margin-top: 30px;
}
.contactUsbutton:hover{
    background: linear-gradient(to right,#af438d , #6b3e9e) !important;
}
.socialMediacontactUs i:hover {
    color: #c72092 !important;
    scale: 1.2;
    transition-duration: 1s;
    cursor: pointer;
    
}
.contact{
    padding-left: 30px !important;
}
.footerTitle{
    font-size: 32px !important;
    color: #6c14d0;
    font-weight: bolder;
}
.contact i:hover{
    color: #c72092 !important;
    cursor: pointer;
}
.contact h6:hover {
    color: #c72092 !important;
    cursor: pointer;
}
.nav-link a i {
    position: relative;
    font-size: 34px !important;
}
.redCircle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    color: white;
    position: relative;
    margin-left: 1rem;
    bottom: 0.4rem;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartContainer{
    display: none;
    flex-direction: column;
    width: 24rem;
    margin-left: 70%;
    position: fixed;
    top: 0;
    background-color: white;
    padding-top: 1rem;
    transition: ease-in 1s;
    height: 98vh;
    z-index: 1000;
    overflow-y: scroll;
    box-shadow: 0 0 8px rgb(202, 194, 194);
}
.cartItem{
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 2px #c72092 solid;
    
}
.cartItem h1{
    font-size: 16px;
    position: relative;
    left: -2rem;
}
.cartItem h3{
    font-size: 14px;
}
.cartContainer .title {
    border-bottom: 2px solid #c72092 !important;
    padding-bottom: 1rem;
}
.cartItem img{
    width: 6rem ;
    
}
.cartToggle{
    display: flex;
}
.favouriteContainer{
    display: none;
    flex-direction: column;
    width: 24rem;
    margin-left: 70%;
    position: fixed;
    top: 0;
    background-color: white;
    padding-top: 3rem;
    height: 95vh;
    z-index: 1000;
}
.favouriteContainer .buttons button{
    width: 100% !important;
    margin-top: auto;
}

.buttons{
    width: 100%;
    display: flex;
    margin-top: auto;
}
.buttons .cancel{
    width: 50%;
    background-color: rgb(161, 13, 13);
    border-radius: 0;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.buttons .checkout{
    width: 50%;
    background-color: #c72092;
    border-radius: 0;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.favToggle{
    display: flex;
}
.cartItems{
    
    display: flex;
    flex-direction: column !important;
    width: 100%;
    height: 100%;
    position: relative;
    
}
#totalPrice{
    border-top: 2px green solid;
    margin-top: auto;
    color: green;
    width: 100%;
    padding: 10px;
    text-align: center;
    
    
    margin-bottom: 1rem !important;
    font-size: 20px;
    display: flex;
}
.cartContent{
    display: flex;
    gap: 8px;
    margin-right: auto;
    flex-direction: column;
    align-items: start;
}
.quantityButton{
    border: none;
    background-color: #c72092;
    color: white;
    
    
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.quantityButtonsContainer{
    display: flex;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    width: 4rem;
}
.quantityButtonscontainer h4{
    font-size: 18px;
    margin: auto 30px;
}
.quantityButton:hover{
    background-color: #6b3e9e;
}
.trashButton{
    border: none;
    font-size: 20px;
    background-color: transparent;
    margin-right: 1rem;
    color: #c72092;
}
.trashButton:hover{
    color: #6b3e9e !important;
}
.alertElement{
    display: none;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
}
.alertElement .close{
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 20px;
}
.alertElement .close{
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 20px;
}
#checkoutButton {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}



#closeCheckout {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#closeCheckout:hover {
    background-color: #c82333;
}
.alertElement{
    position: fixed !important;
    top: 5rem !important;
    display: flex;
    width: 35rem;
    height: 7rem;
    padding: 2rem ;
    box-shadow: 0 0 18px #6b3e9e;
    background-color: #c72092 !important;
    border: none;
    color: white !important;
    font-weight: 900 !important;
    display: none;
}
.alertContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.alertTitle{
    display: flex;
    justify-content: space-between;
}
.alertTitle{
    cursor: pointer;
}
.alertContainer h4 {
    font-size: 16px;
    padding-top: 1.5rem;
}
.favItem{
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 2px #c72092 solid;
}
.favItem img{
    width: 6rem;
}
.favItem h1{
    font-size: 18px;
}
.favItem h3{
    font-size: 18px;
}
.itemContent{
    display: flex;
    flex-direction: column;
}
.favItem i {
    margin-left: 2rem;
    font-size: 20px;
    cursor: pointer;
}
.favItem i:hover{
    color: #6c14d0 !important;
}
.backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #c72092;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
}
.backToTopBtn:hover{
    background-color: white;
    color: #c72092;
}
.backToTopBtn.show {
    display: block;
}

i:hover{
    color: #6b3e9e !important;
}
@media (max-width: 1024px) {
    footer{
    display: block !important;
    margin-top: 90% !important;
}
    .footerTitle{
        text-align: center;
        padding: 1rem 0  !important;

    }
    .contact div{
        justify-content: center !important;
    }
}